<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcoming to Tech Embromation</h1>
    <p>This is a simple application to use to win over your customer, vendor or even your manager. We know that in the company what matters is to speak beautiful and not produce</p>
    <a type="button" class="btn btn-lg btn-default" href="../pages/tech-phrases"><span class="glyphicon glyphicon-flash"></span> Getting Tech Embromation</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/fspoliveira/bit-tech-embromation"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container"> 
  <div class="alert alert-info text-center" role="alert">
    The people around you will love it.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Just Click <a href="https://github.com/heroku/node-js-getting-started">Get Tech Embromation Button</a> on the repository.</li>       
      </ul>
    </div>
   
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">    
       recommended for boring meetings
  </div>
</div>
</body>
</html>