<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="container">
<h2>Results</h2>
<ul>
    <% prhs.forEach(function(prh) { %>
        <li><%= prh.id %> - <%= prh.name %></li>
    <% }); %>
</ul>
</div>
</body>
</html>